WebWCF_eSports/Connected Services/ProxyHeroe/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
  <xs:element name="HeroeComplejidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complejidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeComplejidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="HeroeComplejidadResult" nillable="true" type="q1:ArrayOfHeroeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroePorcentaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTorneo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroePorcentajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="HeroePorcentajeResult" nillable="true" type="q2:ArrayOfHeroeConteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeJugadorRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdHeroe" type="xs:short" />
        <xs:element minOccurs="0" name="RolJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroeJugadorRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="HeroeJugadorRolesResult" nillable="true" type="q3:ArrayOfHeroeRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>