WebWCF_eSports/Connected Services/ProxyTorneo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_eSports" />
  <xs:element name="FechaTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FecIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FecFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FechaTorneoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="FechaTorneoResult" nillable="true" type="q1:ArrayOfTorneoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTorneosEquipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEquipo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTorneosEquiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="ListarTorneosEquiposResult" nillable="true" type="q2:ArrayOfTorneoEquipos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPuestoTorneo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Puesto" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPuestoTorneoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_eSports" minOccurs="0" name="ListarPuestoTorneoResult" nillable="true" type="q3:ArrayOfPuestoTorneo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>